.emoji-item {
  background: #ffffff33;
  border-radius: 13px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ffffff33;
  border-style: solid;
  margin-bottom: 20px;
}
.emoji-item-img {
  width: 50%;
}
@media screen and (min-width: 576px) {
  .emoji-item {
    height: 130px;
    width: 130px;
  }
}
@media screen and (min-width: 768px) {
  .emoji-item {
    height: 140px;
    width: 140px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .emoji-item {
    height: 160px;
    width: 160px;
    margin-bottom: 40px;
  }
}
