.image-container {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.image {
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 5px;
}
.foot-image {
  background: #a7f3d0;
}
.animal-image {
  background-color: white;
}
