.mm-container {
  background-color: #1a202c;
  min-height: 100vh;
  max-height: 100%;
  color: white;
}
.mm-container1 {
  color: white;
  background-color: #1a202c;
}
.back-rules-container {
  color: white;
}
.ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
