.rps-main {
  background-color: #223a5f;
}
.back-text {
  color: white;
}
.back-btn-container {
  color: white;
}
.rps-name {
  color: white;
}
.rps-game {
}
.rps-rules-text {
  color: white;
}
.rps-rules-li {
  color: white;
}
.rps-span{
  color: yellow;
}